*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.ulogo{
    position: absolute;
    top: 2px;
    left: 10px;
}
.bordeado {
    border-radius: 20px;
}

.wrap{
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.tarjeta{
    min-height: 300px;
    border-radius: 20px;
    position: relative;
    transform-style: preserve-3d; 
    transition: 2s ease; 
}

.front , .back{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.back{
    transform: rotateY(180deg);
}

.card-wrap:hover .tarjeta{
    transform: rotateY(180deg);
}

.title{ 
    position: absolute;
    bottom: 40px;
    left: 15px;
    color: white;
}

.descri{
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    margin: 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    padding: 30px;
    line-height: 22px;
    letter-spacing: 1.5px;
    font-size: 14px;
}

.flag{   
    display: inline-block;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    background: url(../img/mexi.png);
    background-size: cover; 
   
}

.flag1 {
    display: inline-block;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    background: url(../img/au.png);
    background-size: cover;
}

.img-flag{
    width: 25px;
    height: 20px;
    
}

header {
    min-height: 70px;
}

nav div a:hover {
    color: #ff5907;
    text-decoration: none;
}

nav div a {
    color: aliceblue;
}

nav div a i, header i {
    font-size: x-large;
}

.c-price{
    width: 40%;
    right: 4px;
    bottom: 0px;
}

.c-link:hover{
    filter: contrast(85%) brightness(100%);
}

.c-link{
    margin-bottom: 3rem !important;
}

.c-shadow{
    box-shadow:  0px 11px 20px -7px black,0px -11px 20px -7px black;
    filter: contrast(50%) brightness(120%); 
}

.right-arrow-car {
    position: absolute;
    height: 10%;
    background: #a7a5a2;
    top: 38%;
    right: 0;
    border-radius: 20px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #ea6422;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
} 

.right-arrow-car:hover {
    opacity: 0.9;
}

.left-arrow-car {
    position: absolute;
    height: 10%;
    background: #a7a5a2;
    top: 38%;
    left: 0;
    border-radius: 20px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #ea6422;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
} 

.left-arrow-car:hover {
    opacity: 0.9;
}

.priceshow {
    width: 35%;
    border-radius: 5px;
    background: rgba(254, 187, 2,0.7);
}

.shadow1 {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3)!important;
}

.shadow1 img {
    max-height: 140px;
}

.medidor {
    height: 177px;
    width: 19%;
    opacity: 0.8;
}

section .row .col-8 .back-g {
    background: whitesmoke;
}

section .container .rounded > div > span {
    font-size: 12px;
}

.c-results:hover{
    background: #fff !important;
}

.c-favorite i{
    font-size: x-large;
}

.c-favorite a:hover {
    color: #eeeeeee8;
    text-decoration: none;
}

.c-favorite a {
    color: black;
    text-decoration: none;
}

.c-hotel:hover{
    background: #afafafe8;
}

.c-link-d{
    font-size: x-large;
}

.c-link-d:hover {
    color: #ff5907;
    text-decoration: none;
}

.ask {
    flex-basis: 25%;
}

.ask h6 {
    background: #bdbdbd;
    border-radius: 5px;
    font-weight: bolder;
    color: #12305a;
}

.questions a {
    color: white;
}

.questions a:hover {
    color: #ea6422;
    text-decoration: none;
    font-size: 2rem;
}

footer {
    background: rgb(245, 185, 129);
    font-size: 12px;
}

footer > div > div > p > a { 
    text-decoration: none;
}

.footer {
    font-size: 2rem;
}

.footer div a {
    color: #212529;
}

.idiom{
    width: 20px;
    height: 15px;
} 

.logoviaje{
    width: 40px;
    height: 40px;
}

.iconos{
    width: 30px;
    height: 25x;

}
.iconic{
    background: transparent;
    border: none;
}
.find-new-destinations ul {
    list-style: none;
}
.subscription-bottom  {
    background-color: cornflowerblue;
}

.bg-search{
    background: #bdbdbd !important;
    color: #12305a;
}

.btn-search {
    color: #fff !important;
    background: #ff5907 !important;
}

.bg-header{
    background: #12305a !important;
}

.bg-table {
    background: #bdbdbd!important;
    color: #12305a !important;
}
.bg-table th,
.bg-table td,
.bg-table thead th,
.bg-table tbody + tbody {
border-color: #fff;
}

.bg-subscribe{
    background: #bdbdbd !important;
}

@media (min-width: 320px) and (max-width: 420px){
    .descri{   
        top: 20px;
        left: 0;
        padding: 3px;
        font-size: 10px;
        line-height: 15px;    
    }
    .title{
        bottom: 80px;
        left: 7px;
        color: white;
        font-size: 25px;
    }
    .tarjeta{
        min-height: 200px;
    }



}
@media (min-width: 320px) and (max-width: 420px){
    .descri{   
        top: 15px;
        left: 0;
        padding: 3px;
        font-size: 10px;
        line-height: 10px;    
    }
    .title{
        bottom: 50px;
        left: 7px;
        color: white;
        font-size: 25px;
    }
    .tarjeta{
        min-height: 200px;
    }

}

@media (min-width: 420px) and (max-width: 576px){
    .descri{   
        top: 20px;
        left: 0;
        padding: 3px;
        font-size: 10px;
        line-height: 15px;    
    }
    .title{
        bottom: 70px;
        left: 7px;
        color: white;
        font-size: 25px;
    }
    .tarjeta{
        min-height: 270px;
    }

}


@media (min-width: 576px) and (max-width: 768px) {

.descri{   
    top: 16px;
    left: 0;
    padding: 3px;
    font-size: 7px;
    line-height: 10px;    
}
.title{
    bottom: 25px;
    left: 7px;
    color: white;
    font-size: 25px;
}
.tarjeta{
    min-height: 150px;
}
}

@media (min-width: 768px) and (max-width:992px) {

    .descri{   
        top: 18px;
        left: 0;
        padding: 3px;
        font-size: 10px;
        line-height: 16px;    
    }
    .title{
        bottom: 0px;
        left: 7px;
        color: white;
        font-size: 30px;
    }
    .tarjeta{
        min-height: 170px;
    }
 }
    @media (min-width: 992px) and (max-width:1200px) {

        .descri{   
            top: 30px;
            left: 0;
            padding: 3px;
            font-size: 10px;
            line-height: 20px;    
        }
        .title{
            bottom: 25px;
            left: 7px;
            color: white;
            font-size: 30px;
        }
        .tarjeta{
            min-height: 250px;
        }

     }    
